.container {
  max-width: 100%;//$container;
  margin-left: 0px;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}

.container-public{
  padding: 0px !important;
  height: calc(100% - 160px);
  overflow: hidden;
  background-color: #fff;
  position: relative;
  z-index: 100; 
}

.public-footer{
  padding: 25px;
  background: #d5d3d3;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80px;
  overflow: hidden;
}

.container-admin{
  padding: 0px !important;
  overflow-y: auto;
}


.container-fluid {
  max-width: $container-fluid;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  @include mq(lg) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
