# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/greetingsLamp_admin/node_modules
/api/node_modules
/greetingsLampApp/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js

/greetingsLamp_admin/.next/
/api/.next/
/greetingsLampApp/.next/
/out/

# production
/greetingsLamp_admin/build
/api/build
/greetingsLampApp/build
# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
/greetingsLamp_admin/.env
/greetingsLamp_admin/.env.local
/greetingsLamp_admin/.env.development.local
/greetingsLamp_admin/.env.test.local
/greetingsLamp_admin/.env.production.local

/api/.env
/api/.env.local
/api/.env.development.local
/api/.env.test.local
/api/.env.production.local

/greetingsLampApp/.env
/greetingsLampApp/.env.local
/greetingsLampApp/.env.development.local
/greetingsLampApp/.env.test.local
/greetingsLampApp/.env.production.local

# vercel
.vercel
