.menu {
  &-line{
    color: white;
    border-top: white 1px double;
    width: 80%;
    margin: auto;
    box-shadow: #464646 0px 1px 5px 0px;
  }
  background-color: $button-backgroundColor;
  padding: emCal(4, 3) 0;
  @include mq(md) {
    margin-bottom: emCal(14, 10);
  }
  &-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index:100000;
    .ant-menu {
      border-right: 0;
      li {
        font-weight: 600;
        text-transform: capitalize;
      }
    }
    &-selects {
      margin-top: auto;
      display: flex;
      justify-content: space-between;
      .ant-select {
        flex: 1 1 45%;
        max-width: 45%;
        .ant-select-selector {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-sidebar-opener {
    display: none;
    @include mq(lg) {
      display: block;
    }
    &:hover {
      div {
        &:nth-child(1),
        &:nth-child(3) {
          width: emCal(16, 25);
        }
      }
    }
    div {
      height: 2px; 
      background-color: rgb(156, 156, 156);
      width: emCal(16, 30);
      margin-bottom: emCal(16, 5);
      transition: $transition;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &-logo {
    padding: 1.5rem 2rem;
    margin: auto;
    display: flex;
    justify-content: center;
    a {
      display: block;
      img {
        max-width: 120px;
      }
    }
  }
  &-search {
    width: 55%;
    @include mq(md) {
      display: none;
    }
    &__form {
      display: flex;
      align-items: center;
      width: 100%;
      &-select {
        border-right: 1px solid setShadeColor(border);
        &.ant-select {
          .ant-select-selector {
            border: 0;
            box-shadow: none;
            border-radius: emCal(16, 5) 0 0 emCal(16, 5);
            height: emCal(16, 45);
            .ant-select-selection-item {
              font-size: emCal(16, 15);
              font-weight: 800;
              line-height: emCal(15, 45);
              text-transform: capitalize;
            }
          }
        }
      }
      &-input {
        display: flex;
        flex-grow: 1;
        .ant-select {
          width: 100%;
          .ant-select-selector {
            height: emCal(15, 45);
            border: 0;
            font-size: emCal(16, 15);
            border-radius: 0;
            .ant-select-selection-search {
              input {
                height: 100%;
              }
            }
            .ant-select-selection-placeholder {
              line-height: emCal(15, 45);
            }
          }
        }
        .ant-btn {
          height: emCal(16, 45);
          background-color: #000;
          border: 0;
          color: #fff;
          border-radius: 0 emCal(16, 5) emCal(16, 5) 0;
          &:hover {
            background-color: lighten(#000, 20%);
          }
        }
      }
    }
  }
  &-mobile-search {

    display: none;
    @include mq(md) {
      display: block;
      padding-bottom: 0.6rem;
    }
    .menu-search {
      display: block;
      width: 100%;
      .ant-select-selector {
        background-color: #f6f6f6;
      }
    }
  }
  &-functions {
    display: flex;
    align-items: center;
    .ant-btn {
      height: emCal(13, 35);
      font-size: emCal(16, 13);
      font-weight: 800;
      text-transform: uppercase;
      border: 0;
      color: setShadeColor(dark);
      letter-spacing: emCal(13, 1.3);
      margin-right: emCal(13, 30);
      &:hover {
        background-color: darken(#fff, 10%);
      }
      @include mq(lg) {
        display: none;
      }
    }
    .menu-function-item {
      position: relative;
      &:not(:last-child) {
        margin-right: emCal(16, 28);
      }
      cursor: pointer;
      span {
        position: absolute;
        top: -3px;
        right: -8px;
        height: emCal(11, 18);
        width: emCal(11, 18);
        background-color: #000;
        font-size: 11px;
        color: #fff;
        text-align: center;
        border-radius: 999px;
      }
      &.menu-sidebar-opener {
        display: none;
        @include mq(lg) {
          display: block;
        }
        &:hover {
          div {
            &:nth-child(1),
            &:nth-child(3) {
              width: emCal(16, 25);
            }
          }
        }
        div {
          height: 2px;
          background-color: #fff;
          width: emCal(16, 30);
          margin-bottom: emCal(16, 5);
          transition: $transition;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.sideMenu{
  z-index: 100;
}

.admin-sidebar{
    box-shadow: #73717173 2px 3px 5px;
    background-color: #E30433;
    padding-bottom: 4em;
    min-width: 200px;
    width: 270px;
    height: 100%;
    position: fixed;
    z-index: 100;
}

.aside{
  width: 270px;
}
.home-header{
    .ant-menu.ant-menu-light.bc-menu-sub.ant-menu-root.ant-menu-horizontal{
      background: none;
      position: fixed;
    }
  
  .public__navigation{
    .navigation_container{
      background: none;
      position: relative;
      z-index: 100000000;
      transition: background .2s ease-out;
    }  
  }
  .public__navigation.active{
    .navigation_container{
      background: #fff;
      transition: background .2s ease-out;
    }
  }
 
  .onScroll{
    .navigation_container{
      position: fixed;
      z-index: 10000000;
      background: #fff;
      transition: background .2s ease-out;
      
    }
  }
  .home-banner{
    position: absolute;
    top: 0px;
    video{
      width: 100%;
    }
  }
}
