.container {
  max-width: 100%;//$container;
  margin-left: 0px;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}

.container-public{
  padding: 0px !important;
}

.container-admin{
  padding: 0px !important;
  overflow-y: auto;
}


.container-fluid {
  max-width: $container-fluid;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  @include mq(lg) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
