
.content-public.mobile{

  .mobile-menu-container {
    display: flex;
    justify-content: space-between;
  }

}








.content-public {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  &.clear-top {
    padding-top: remCal(120);
    @include mq(md) {
      padding-top: remCal(50);
    }
  }
}

.content-admin {
  height: 100%;
  overflow: hidden;
  //padding-top: remCal(70);
  /* @include mq(md) {
    padding-top: remCal(70);
  } */
  &.clear-top {
    padding-top: remCal(120);
    @include mq(md) {
      padding-top: remCal(50);
    }
  }
}

.content-side{
  padding: 1rem 1rem 1rem 1rem;
  flex: 1 0 auto;
}

.tablete .content-side{
  min-height: 100vh;
}

.content-side-admin{
    padding: 4rem 1rem 1rem 1rem;
    overflow-y: scroll;
    height: 100vh;
}

.main-page{
  .ant-col{
    display: unset;
    align-items: end;
    flex-direction: column;
  }
  //height: 100%;
  width: 100%;
}
.main-content-page{
  width: 100%;
  min-height: 100%;;
}


.main-content{
  width: 95%;
  padding: 0 15px;
  @media (min-width: 820px) {
    left:40px
  }
  top: 40px;
  position: relative;
}
.main-content-admin{
  width: 95%;
  padding: 0 2px;
  @media (min-width: 820px) {
    left:40px
  }
  position: relative;
}



.spinner{
  text-align: center;
  top: 50px;
  position: relative;
}

.contentTitle{
  font-weight: bold;
  font-size: 2rem;
  color: dimgray;
}
