
.category-modal-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    .message-error-modal{
        padding: 5px;
        text-align: center;
        border: 1px #f44 solid;
        margin: 5px 0px;
        width: 95%;
        align-self: start;
        color: #ed0000;
        background: #ffe300a3;
        border-radius: 4px;
    }
}


.categoryFormInputs {
    width: 65%;
    .ant-row{
        justify-content: end;
    }
}

.cardFormInputs {
    width: 65%;
    .ant-row{
        justify-content: end;
    }
}

.ant-upload.ant-upload-select-picture-card{
    margin-bottom: unset !important;
}

.categoryImage{
    width: 45%;
    cursor: pointer;
    transition: box-shadow 0.3s, border-color 0.3s;
    border: 1px solid #f0f0f0;
    display: grid;
    align-content: center;
    height: min-content;
    .ant-form-item{
        margin-bottom: unset;
        vertical-align: unset;
    }
}



.categoryImage > .ant-row > .ant-col {
    max-width: 100%;
}

.categoryImage > .ant-row > .ant-col>.ant-form-item-control-input {
    height: 100%;
}

.categoryImage > .ant-row > .ant-col>.ant-form-item-control-input>.ant-form-item-control-input-content{
    height: 100%;
}

.categoryImage > .ant-row {
    height: 100%;
}

.categoryImage>img{
    width: 100%;
    border-radius: 3px;
}

.categoryImage:hover{
    border-color: transparent;
    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.modal-content{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.mc-main{
flex: 1 0 50%;
}

.mc-sub-main>*{
color: #fb5231;
margin-left: 25px;
}

.user-modal-content{
    padding-top: 15px;
}

.user-form>*{
    justify-content: center;
}


.warning-modal-container{
    h4{
        font-weight:bold ;
        margin-bottom: 15px;
    }
    p{
        margin-bottom: 5px;
        color: #6d6d6e;
        span{
            background-color: #e5e5e5;
            border-radius: 3px;
            padding: 0 5px;
            font-weight: 500;
            color: #6d6d6e;
        }
    }
}

.warrningModal{
    display: flex;
    justify-content: center;
    >span:last-child{
        display: flex;
        align-items: center;
        padding: 3px;
        margin-left: 5px;
    }
}

