.cardImage{
    width: 45%;
    cursor: pointer;
    transition: box-shadow 0.3s, border-color 0.3s;
    border: 1px solid #f0f0f0;
    display: grid;
    align-content: center;
    height: min-content;
    .ant-form-item{
        margin-bottom: unset;
        vertical-align: unset;
    }
}



.cardImage > .ant-row > .ant-col {
    max-width: 100%;
}

.cardImage > .ant-row > .ant-col>.ant-form-item-control-input {
    height: 100%;
}

.cardImage > .ant-row > .ant-col>.ant-form-item-control-input>.ant-form-item-control-input-content{
    height: 100%;
}

.cardImage > .ant-row {
    height: 100%;
}

.cardImage>img{
    width: 100%;
    border-radius: 3px;
}

.cardImage:hover{
    border-color: transparent;
    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.cards-container{
    min-height: 450px ;
    .ant-list-items{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
    }
    .ant-spin-nested-loading{
        //height: 990px;
        min-height: 400px;
    }
    .ant-spin-container {
        position: relative;
        transition: opacity 0.3s;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        //height: 100vh;
        justify-content: left;
        align-items: center;
        //min-height: 400px;
        .ant-list-empty-text{
            display: block;
            margin: auto;
        }
    }
}

.cards-container-skeleton{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}



.bc-card:hover{
  
    cursor: pointer;
    border-color:transparent;
    box-shadow:0px 4px 9px 0px rgba(0, 0, 0, 0.16), -1px 3px 10px 0px rgba(0, 0, 0, 0.12), 0px -3px 6px 0px rgba(0, 0, 0, 0.09);
    transition: box-shadow 0.3s, border-color 0.3s;
    //border-radius: 3px;
   /*  img{
        border-radius: 3px;
    }
    .bc-card-img{
        border-radius: 3px;
    } */

}

.bc-card{
    width: 185px;
    height: max-content;
    margin: 20px 15px;
    box-sizing: border-box;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
    position: relative;
    border-radius: 3px;
    //background: red;
    
    //box-shadow:0 1px 2px -2px rgba(0,0,0,.16),0 3px 6px 0 rgba(0,0,0,.12),0 5px 12px 4px rgba(0,0,0,.09);
    @media (max-width: 496px) {
        width: 100%;
    }

    @media (min-width: 530px) {
        width: 23vw;;
    }
    
    @media (min-width: 718px) {
        width: 18vw;;
    }

    @media (min-width: 830px) {
        width: 14vw;
    }

    @media (min-width: 970px) {
        width: 14vw;
    }

    @media (min-width: 1130px) {
        width: 155px;
    }

    @media (min-width: 1398px) {
        width: 165px;
    }


    .bc-card-img{
        //border-style: none;
        border-radius: 2px 2px 0 0;
        min-height: 100%;
        align-content: center;
        display: grid;
        
        >img{
           width: 100%;
           border-radius: 4px;
        }
    }     
    
}

.addCardForm{
    width:100%;
    display: flex;
}

.bc-card-body{
    clip-path: inset(0px -2px 66px 0px);
}

.bc-card:hover .bc-card-body>.bc-card-content{
    cursor: pointer;
    //position: relative;
    bottom:0px;
    transition: ease-out 0.2s;
}  

.bc-card-content{
    padding: 8px;
    position: absolute;
    bottom: -66px;
    background: #d9d5d5eb;
    opacity: 0.8;
    overflow: hidden;
    width: 100%;
    border-radius: 0 0 3px 3px ;
    .bc-card-body-title{

    }

    .bc-card-body-description{

    }
}

.bc-card-remove-button .anticon {
    width: 16px;
    fill: #ffffff;
}

.bc-card-remove-button {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    background: #e3043366;
    font-weight: lighter;
    color: #fff;
    font-size: 1.1rem;
    display: none;
    border-radius: 3px 3px 0 0;
}

.bc-card:hover .bc-card-remove-button{
    display: flex;
}  


.cardImage{
    width: 48%;
    cursor: pointer;
    transition: box-shadow 0.3s, border-color 0.3s;
    border: 1px solid #f0f0f0;
    display: block;
    height: 100%;
    .ant-form-item{
        margin-bottom: unset;
        vertical-align: unset;
    }
}



.cardImage > .ant-row > .ant-col {
    max-width: 100%;
}

.cardImage > .ant-row > .ant-col>.ant-form-item-control-input {
    height: 100%;
}

.cardImage > .ant-row > .ant-col>.ant-form-item-control-input>.ant-form-item-control-input-content{
    height: 100%;
}

.cardImage > .ant-row {
    height: 100%;
}

.cardImage>img{
    width: 100%;
    border-radius: 3px;
}

.cardImage:hover{
    border-color: transparent;
    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}



.card-container {
    display: flex;
    justify-content: space-between;
}



.card-items  {
    ul{
        list-style: none;
    }
    li{
        display: flex;
        margin: 10px 7px;
        width: 100%;
        border-bottom: 1px solid #80808038;
        padding-bottom: 10px;
        background: #deddde2e;
    }
    .block-input{
        background: white;
        display: block;
        margin-bottom: 5px;
    }
    .inline-input{
        margin-bottom: 5px;
        text-transform:capitalize;
    }
    .item-value{
        margin-left: 25px;
        font-weight: bold;
    }
}
.card-items {
    width: 50%;
}

.no-data{
    color: #7a7a7a;
}


.uploadButton{
    height: 350px;
    display: flex;
    align-items: center;
}


