.account-settings{
  width: 100%;
  padding: 15px;
  height: 520px;
  .user-form{
    &-wrapper{
      display: flex;
      flex-flow: row;
      width: 100%;
      justify-content: space-around;
      padding: 20px;
  
      .left{
        min-width: 500px;
        max-width: 600px;
        padding-top: 20px;
      }
  
      .right{
        width: 180px;
        margin: 0 auto;
      }
    }
    .submit-user{
      width: 43%;
      display: flex;
      padding: 15px;
      .ant-form-item{
        margin-bottom:0;
      }
      .ant-btn {
        width: 140px;
      }
    }
  }
}